$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$background: #FA9500;
$font-stackl: 'IBM Plex Sans' , sans-serif; 

@mixin flexCenter($direction, $content: null, $align: null){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
/*
para usar el mixing
@include flexCenter(row, space-between, center);
@include flexCenter(column, space-around);
@include flexCenter(column);
*/
@mixin mobile{
    @media screen and (max-width: 520px) {
        @content
    }
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $primary-color;
    font-family: $font-stackl;
}
.navbar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text-color;
    padding: 5px 15px;
    span{
        font-size: 1.8em;
        font-weight: bold;
    }
    .icon{
        display: flex;
        button{
            background: none;
            border: none;
        }
    }
}
article{
    color:$primary-text-color;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    @include mobile() {
        flex-direction: column;
        justify-content: center;
     }
    .impact-section{
       width: 100%;
       h1{
        font-size: 2.5em;
       }
       p{
        font-size:1.3em;
       }
       button{
        padding: 15px;
        color: $primary-color;
        background-color: $background;
        border: none;
        border-radius: 40px;
        font-weight: bold;
       }
       @include mobile() {
        
            order: 2;
        }
    }
    .image-section{
        width: 100%;
        img{
            width: 85%;
            max-height: 500px;
            border-radius: 10px;
            object-fit:contain;
        }
        @include mobile() {
            display: flex;
            justify-content: center;
            order: 1;
         }
    }
}
section{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    h2{
        color: $primary-text-color;
        font-size: 1.7em;
    }
    .health-care{
        h2{
            font-weight: 300;
            margin-bottom: 30px;
            margin-left: 15px;
        }
        .card-section{
            margin: 0 auto;
            max-width: 800px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 100px;
            row-gap: 25px;
        }
        .product-card{
            width: 200px;
            height: auto;
            display: flex;
            background-color: $secundary-color;
            flex-direction: column;
            align-items: center;
            border-radius: 4px;
            color: $primary-text-color;
            svg{
                align-self: flex-end;
                padding: 5px;
            }
            img{
                width: 150px;
                height: 180px;
                object-fit: cover;
                border-radius: 4px;
            }
            h4{
                margin-bottom: 0;
            }
            
        }
    }
    .furniture{
        @extend .health-care;
        .product-card{
            background-color: $tertiary-color;
            color: white;
        }
    }
}
.about-us{
    h2{
        margin-left: 30px;
    }
}
.about-section{
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
   
    @include mobile() {
        flex-direction: column;
     }
    .earth{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $background;
        font-weight: bold;
        gap: 10px;
        p{
            max-width: 164px;
        }
        @include mobile() {
           flex-direction: column;
        }
    }

    .innovation{
        @extend .earth;
    }
}
.gallery{
    h2{
        margin-left: 30px;
    }
    .gallery-images{
        max-width: 900px;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 0 auto;
        img{
            width: 240px;
            height: 200px;
            border-radius: 8px;
            &:hover{
                transform: scale(1.2);
                transition-duration: 500ms;
            }
        }
        @include mobile() {
            flex-direction: column;
            align-items: center;
            gap: 15px;
         }
    }
}
main{
    background-color: $primary-color;

}
footer{
    
    background-color: $background;
    width: 100%;
    height: 250px;
}
